@import '../variables';

.main {
    padding: 1.5rem;
    &__backButton {
        display: flex;
    }
    &__h2 {
        @include primary-font;
    }
    &__addNewInput {
        display: flex;
        flex-direction: column;
        margin: 0 auto 1.5rem auto;
        @include input-style;
    }
    &__addNewInput:focus {
        border-color: $primaryPink;
    }
    &__cardsContainer {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}