@import '../variables';

.card {
    background-color: $secondaryBlue;
    border: 1px solid $primaryBlue;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    min-height: 5.4rem;  
    &__checkmark {
        background-image: url('images/icon-check.svg');
        background-repeat: no-repeat;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        margin: 0; 
    }
    &__info {
        @include secondary-font;
        word-break: break-all;
        width: 90%;
        position: absolute;
    }
}
