@import '../variables';

.card {
    background-color: $secondaryBlue;
    border: 2px solid $primaryBlue;
    @include border-radius;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__input {
        @include input-style;
    }
    &__input:focus {
        border-color: $primaryPink;
    }
    &__info {
        @include secondary-font;
        text-align: left;
        margin: 8px 6px;
    }
    &__iconContainer {
        margin: 0 6px;
    }
    &__iconContainer > :first-child {
        margin-right: 12px;
    }
    &__iconContainer img {
        width: 20px;
    }
}