@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Sigmar+One&display=swap');

$primaryPink: #F6608E;
$primaryBlue: #93F6F8;
$secondaryBlue: #DFFEFF;
$secondaryGreen: #89D770;

@mixin shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

@mixin border-radius {
    border-radius: 4px;
}

@mixin primary-font {
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: $primaryPink;
}

@mixin secondary-font {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
}